@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;

}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 65px;
    color: crimson;
    line-height: 75px;
    


}

body {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

ul > li {
    font-family: 'Poppins', sans-serif;
    
}

#menu{
    font-size: 130%; 
    letter-spacing: 4px;
    color: white;
    line-height: 75px;
    margin-right: 50px;

}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
    

}

#menu a:hover{
    border-bottom: 1px crimson;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/girlincinemaaffinity.jpg') no-repeat center center;
    overflow: hidden;
    position: relative;
}


p{
    font-family: poppins;
}

h2 {
    font-family: 'Luckiest Guy', cursive; san-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}


#menu a{
    text-decoration: none;
    color: black;
}

#trailer {
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: black;
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

.money{
    width: 300px;
}

.trailer-img{
    width: 300px;
}

.podcast-img{
    width: 300px;
    height: 200px
    
}

#trailer a{
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: crimson;
}

#box-office a{
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: crimson;
}

#box-office {
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: black;
    width: 33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}
#podcast {
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: black;
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

#podcast a{
    font-family: 'Luckiest Guy', cursive; san-serif;
    color: crimson;
}

